**/.ipynb_checkpoints
**/__pycache__
/Multimodal_Retrieval/plan1/__pycache__
/Multimodal_Retrieval/plan1/__pycache__
/ECommerce-IC/image-caption-baseline-master
/ECommerce-T2I/plan_2/generated_v10
/ECommerce-T2I/plan_2/generated_v12_emb
/ECommerce-T2I/plan_2/generated_v13
/ECommerce-T2I/plan_2/generated_v14
/ECommerce-T2I/plan_2/generated_v14_1
/ECommerce-T2I/plan_2/generated_v15
/ECommerce-T2I/plan_2/generated_v16
/ECommerce-T2I/plan_2/generated_v17
/ECommerce-T2I/plan_2/generated_v18
/ECommerce-T2I/plan_2/generated_v19
/ECommerce-T2I/plan_2/generated_v20
/ECommerce-T2I/plan_2/generated_v21
/ECommerce-T2I/plan_2/generated_v22
/ECommerce-T2I/plan_2/generated_v23
*.html
*.png
